.serv-main{
    padding-top: 6rem;
}

.herosectionclass {
    background: url(../imgs/g.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    width: 100%;
}

.herosectionclass h2 {
    color: #01FFCC;
    text-align: center;
    font-size: 4.7rem;
    
}

.herosectionclass p {
    color: #01FFCC;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5rem;
}

.herotextsection {
    margin-top: 12rem;
    margin-bottom: 12rem;
}
.scroolconjitag{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    color: #01FFCC;
}
.scroolconjitag h3{
    font-size: 4rem;
}

.who-using-section {
    background-color: #121212;
    color: #01FFCC;
    perspective: 1000px;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #01FFCC;
    text-shadow: 0 0 10px #01FFCC66;
  }
  
  .client-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #01FFCC;
  }
  
  .client-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #01FFCC;
  }
  




  .dev-section {
    background-color: #121212;
    color: #01FFCC;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #01FFCC;
    margin-bottom: 20px;
  }
  
  .section-summary {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #01FFCC;
    opacity: 0.85;
  }
  
  .feature-list {
    list-style: none;
    padding-left: 0;
  }
  
  .feature-list li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 25px;
    color: #01FFCC;
  }
  
  .feature-list li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #54fc00;
    font-weight: bold;
  }
  
  
  .tilt-container {
    perspective: 1000px;
  }
  
  .tilt-img {
    width: 80%;
    border-radius: 10px;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    transform-origin: center;
  }
  